body, html{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}
canvas{
    display: block;
}
#gear-list-container{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 10px;
}
#search-results{
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    border: none;
}
#color-picker{
    position: absolute;
    display: none;
    z-index: 10;
    width: 25px;
    height: 25px;
}
#controls-window{
    background-color: #000;
    border: 1px solid #fff;
    text-align: left;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
th, tr, td{
    color: #fff;
    padding-inline: 20px;
    padding-block: 5px;
}
th{
    font-size: 18px;
    color: #fff;
}
caption{
    font-size: 25px;
    padding-bottom: 10px;
    color: #fff;
}
#close-window{
    visibility: hidden;
    position: absolute;
}
label{
    position: absolute;
    top: 10px; 
    right: 10px;
    border: 1px solid #fff;
    padding-inline: 5px;
    padding-block: 2px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
}