@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cutive+Mono&family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
}
html{

}
body{
    background-color: black;
    color: white;
    font-family: "Press Start 2P", system-ui;
}
h1, h2{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
}
nav a{
    position: absolute;
    top: 30px;
    left: 8px;
    font-size: 24px;
}
ul:not(.improvements){
    list-style-type: none;
    padding: 0;
}
ul a{
    color: blue;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: white;
}
a h1{
    color: white;
}
#alex{
    font-size: 75px;
    margin-top: 200px;
}
#start{
    margin-top: 20px;
    font-size: 45px;
}
.menu{
    font-size: 40px;
    margin-top: 125px;
}
.menu li{
    line-height: 100px;
    text-align: center;
}
.queststitle{
    font-size: 37px;
    margin-top: 70px;
}
.links{
    margin-top: 40px;
}
.links li{
    line-height: 51px;
    text-align: center;
    font-size: 20px;
}
.difflh{
    margin-block: 6px;
}
.difflh li{
    line-height: 38px;
}
.questcomplete{
    margin-left: 108px;
}
.completed{
    font-size: 12px;
}
.webstitle{
    font-size: 37px;
    margin-top: 100px;
}
.webs{
    margin-top: 70px;
}
.webs li{
    line-height: 51px;
    text-align: center;
    font-size: 20px;
}
#adjust1{
    margin-right: 156px;
}
#adjust2{
    margin-right: 215px;
}
#adjust10{
    margin-left: 19px;
}
#abouttitle{
    font-size: 37px;
    margin-top: 68px;
}
.computer{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
}
#about{
    margin-top: 1000px;
    margin-bottom: 150px;
    margin-inline: 220px;
}
#white{
    background-color: white;
    color: black;
}
#ad{
    color: red;
    margin-top: 40px;
}
#back{
    left: 200px;
}
#back:hover{
    color: #9090ff;
}
#finger1{
    position: absolute;
    width: 200px;
    top: 15px;
}
#flono{
    font-size: 50px;
    color: blue;
    margin-top: 45px;
    margin-bottom: 50px;
}
#finger2{
    position: absolute;
    width: 200px;
    top: 30px;
    right: 25px;
}
.no{
    display: flex;
    justify-content: center;
}
.no img{
    width: 100px;
}
#decree{
    display: flex;
}
#flotext1{
    flex: 2 1 0;
    margin-left: 30px;
    font-size: 40px;
    line-height: 64px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#flo{
    flex: 1 1 0;
    margin-bottom: 30px;
    justify-content: center;
}
#flotext2{
    flex: 2 1 0;
    margin-right: 30px;
    text-align: right;
    font-size: 40px;
    line-height: 64px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#hours{
    font-size: 30px;
    margin-top: 150px;
}
.rant{
    margin-inline: 360px;
    margin-top: 100px;
    line-height: 30px;
}
.rant p:not(#ultitle){
    margin-block: 50px;
}
#final{
    font-size: 30px;
    margin-top: 150px;
}
.proposal{
    margin-inline: 200px;
    margin-top: 100px;
    line-height: 30px;
}
#example{
    text-align: center;
}
#diagram{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}